# dependencias
/node_modules
/.pnp
.pnp.*

# next.js
/.next/
/out/
/build
next-env.d.ts
*.tsbuildinfo

# variables de entorno — nunca commitear secretos
.env*
!.env.local.example

# vercel
.vercel

# varios
.DS_Store
*.pem
/coverage
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
